.vscode
numericalExperiments/birthdayRotation
git-filer-repo
*.jld2
*.png
*.gif
*.pdf
*.txt
*.csv
*.svg
# 2. Now, un-ignore .csv and .svg files ANYWHERE inside
#    numericalExperiments. The '**/' pattern is recursive.
!numericalExperiments/**/*.csv
!numericalExperiments/**/*.svg